* {
    margin: 0;
    padding: 0;
}
.grupo{
    display: flex;
    flex-direction: column;
}

.cabeca{
background-color: rgb(0, 155, 155);
color: rgb(255, 255, 255);
padding: 10px;
display: flex;
justify-content: space-around;
align-items: center;

}

.menu a {
        color: aliceblue;
        text-decoration: none;
        align-items: center;
}

.menu a:hover{
        color: rgb(14, 82, 82);
}

.navegacao{
background-color: rgb(218, 207, 62);
display: inline-block;
width: 30%;
padding: 10px;
}

.secao{
background-color: rgb(180, 64, 60);
display: inline-block;
width: 70%;
padding: 10px;
}

.secao p{
    margin-bottom: 10px;
}

.formulario {
        margin-bottom: 10px;
}

.tituloCor{
    margin-bottom: 10px;
}

.Linha-cor{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.Linha-cor p{
    margin: 0;
    width: 80px;
}


.conteudo{
    display: flex;
    
}

.navegacao li{
    margin-bottom: 10px;
}

.paragrafo p {
    margin-bottom: 10px;
}


.rodape{
background-color: rgb(124, 29, 29);
height: 100px;
padding: 0 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.redes {
    display: flex;
    
    align-items: center;
}

.redes img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.redes a{
    display: flex;
    text-decoration-style: none;
    align-items: center;
    gap: 5px;
}
.redes a:hover{
    color: aliceblue;
    opacity: 0.7;
}
